<img align="left" src=<%= current_user.image_url %> /> 
  <h2><%= current_user.name %></h2>
<br/>
<br />
<b>Email:</b> <%= current_user.email %>
<br />
<b>Summary:</b> <%= @resume.summary.first[1] %>
<br />
<br />
<b>Work Experience: </b> 
  <% # %>

  <br />
  <br />
<b>Education:</b> <%= @resume.education %>