<img align="left" src=<%= current_user.image_url %> /> 
  <h2><%= current_user.name %></h2>
<br/>
<br />
<b>Email:</b> <%= current_user.email %>
<br />
<b>Summary:</b> <%= @resume.summary.first[1] %>
<br />
<br />
<b>Work Experience: </b> <br>
  <% companies = @resume.work_experience.positions.all.map{|t| t.company } %>
  <% summaries = @resume.work_experience.positions.all.map{|t| t.summary } %>
  <% start_time = @resume.work_experience.positions.all.map{|t| t.start_date }%>
  <% end_time = @resume.work_experience.positions.all.map{|t| t.end_date } %>

<% #binding.pry %>
  <% companies.zip(summaries, start_time, end_time).each do |z, x, c, v| %>
    <b><%= z.name %></b> <br />
      <%= c.month %>, 
        <%= c.year %>  - 
        <% if !v.nil? %>
          <%= v.month %>,
          <%= v.year %><br />
        <% else %>
          Current <br />
        <% end %>
        <br />
      <%= x %> <br /> <br />
  <% end %>

  <br />
  <br />
<b>Education:</b> <%= @resume.education %>